.dialog{
    position: fixed;
    display: flex;
    justify-content : center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea55;
}
.dialog_content{
    position: relative;
    z-index: 999;
    background-color: #333 !important;
    width: 500px;
    padding: 1rem;
    text-align: center;
}