.header{
    background-color: #494d56;
    padding: 1rem 0;
    font-size: 1.3rem;
}
.navbar_list{
    display: flex;
    margin-bottom: 0px;
}
.navbar_list_item{
    margin: 0 1rem;
}
.navbar_list_item a{
    color: #fff;
}